name: My Awesome App
on: push
jobs:
  build:
    name: Build Application
    runs-on: ubuntu-latest
    steps:
      - name: Build
        run: |
          sleep 5s
          echo Build is Success
  unit-testing:
    name: Unit Testing
    needs: build
    strategy:
      matrix:
         os: [ubuntu-latest, macos-latest, windows-latest]
         cmd: [testing...]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Testing on -  ${{ matrix.os }}
        run: echo  ${{ matrix.cmd }}
  deploy:
    name: Deploy to Staging
    needs: unit-testing
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://my-awesome-app.com
    steps:
      - name: D1
        run: |
          sleep 1s
          echo Build is Success
      - name: D2
        run: |
          sleep 1s
          echo Build is Success
      - name: D3
        run: |
          sleep 1s
          echo Build is Success
      - name: D4
        run: |
          sleep 1s
          echo Build is Success
      - name: D5
        run: |
          sleep 1s
          echo Build is Success
      - name: D6
        run: |
          sleep 1s
          echo Build is Success
      - name: D7
        run: |
          sleep 1s
          echo Build is Success
        
